section {
    height: 50vh;
    background-color: var(--text-color); // Usa a variável CSS
    border-bottom: 1px solid black;
}

.container{
    padding: 20px;
}

// ------------------ Home ------------------ //

#s__home{ 
    .container{
        h1{
            color: white;
        }

    }
}